.about-us {
    margin-bottom: 90px;
}
.about-us__title {
    margin: 20px 0 14px 0;
}

.about-us__description {
    margin: 0 0 45px 0;
}

.employee__content {
    padding: 35px;
}

.employee__title {
    margin: 0;
}

.employee__description {
    margin: 0;
}

