.strategies__tags {
    padding: 20px 0;
}

.strategies__title {
    margin: 0 0 14px;
}

.strategies__description {
    margin: 0;
}

.strategie-wrapper {
    >*{
        margin-bottom: 30px;
    }
}

.strategy-content-wrapper {
    padding: 24px 33px 26px;
}

.strategy-content-wrapper h3 {
    margin: 0 0 14px 0;
}